<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Website</title>
  </head>
  <body>
    {{> header}}
    <h2>Welcome to the Home Page!</h2>
    {{> footer}}
  </body>
</html>
